/*------------------------------------General---------------------------------------------*/
:root {
}
/*------------------------------------Main---------------------------------------------*/
/*-------carrousel----------*/
.carrousel {
  display: flex;
}
.photo {
  flex: 0 0 25%;
}
.photo img {
  width: 100%;
}
